# Tooling
/.direnv
/.pre-commit-config.yaml
/.cache
/.ruff_cache

# Web
/node_modules
/dist
/coverage
*.tsbuildinfo

# Python
/.venv
__pycache__
*.pyc

# Local configuration
.env
.env.*
!.env.example
